<div class="container">
  <div class="row" style="margin-top:50px;margin-bottom:50px">
    <div class="col-md-offset-3 col-md-6">
      <div class="box">
        <h4 class="text-uppercase">Please provide your details</h4>                
        <hr/> 
        <form name="formHolder.buyData" novalidate="">
        <label style="font-size: 14px" class="alert alert-danger" ng-show="errMsg" ng-cloak ng-bind="errMsg"></label>
        <label style="font-size: 14px" class="alert alert-success" ng-show="sucMsg" ng-cloak ng-bind="sucMsg"></label>
          <div class="form-group"><sup>*</sup>
            <label>Phone number</label>
            <input class="form-control" type="text" placeholder="your phone number" name="phone" ng-required="true" autofocus="true" ng-model="request.phone"/>
          </div>
          <div class="form-group"><sup>*</sup>
            <label>Network</label>
            <select class="form-control" name="network" ng-model="request.network" ng-change="networkChange()">
              <option value="">select a network</option>
              <option>MTN</option>
              <option>Etisalat</option>
              <option>Airtel</option>
            </select>
          </div>
          <div class="form-group" ng-show="showMtn" ng-cloak="ng-cloak">
            <label>Bundle</label>
            <select class="form-control" name="bundle" ng-options="m.name as m.name for m in mtn" ng-model="request.bundle" ng-change="mtnBundleChange()">
              <option value="">select a bundle</option>
            </select>
          </div>
          <div class="form-group" ng-show="showAirtel" ng-cloak="ng-cloak">
            <label>Bundle</label>
            <select class="form-control" name="bundle" ng-options="m.name as m.name for m in airtel" ng-model="request.bundle" ng-change="airtelBundleChange()">
              <option value="">select a bundle</option>
            </select>
          </div>
          <div class="form-group" ng-show="showEtisalat" ng-cloak="ng-cloak">
            <label>Bundle</label>
            <select class="form-control" name="bundle" ng-options="m.name as m.name for m in etisalat" ng-model="request.bundle" ng-change="etisalatBundleChange()">
              <option value="">select a bundle		</option>
            </select>
          </div>
          <div class="form-group" ng-show="showBundle" ng-cloak="ng-cloak">
            <label>Price</label>
            <input class="form-control" name="amount" readonly="readonly" type="number" ng-model="request.price"/><br/>
            <button class="btn btn-primary" ng-click="buyData()">Buy</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>