<div class="container" style="margin-bottom:50px;margin-top:150px">
    <div class="row" style="margin-top:50px;margin-bottom:50px">
        <div class="col-md-offset-3 col-md-6">
            <div class="box">
                <h4 class="text-uppercase">Please provide your details</h4>
                <hr />
                <form name="confirmPassword" novalidate>
                    <label style="font-size: 14px" class="alert alert-danger" ng-show="errMsg" ng-cloak ng-bind="errMsg"></label>
                    <label style="font-size: 14px" class="alert alert-success" ng-show="sucMsg" ng-cloak ng-bind="sucMsg"></label>
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input type="password" password-strength-checker ng-required="true" ng-model="user.password" class="form-control" id="password1" name="password1" placeholder="Please enter your password">
                        <span ng-show="!confirmPassword.password1.$error.required"></span>
                        <span ng-show="!confirmPassword.password1.$dirty && password1" ng-cloak class="error-message">Password is required</span>
                        <span ng-show="confirmPassword.password1.$dirty && confirmPassword.password1.$error.required" class="error-message">Password is required</span>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password</label>
                        <input type="password" password-match ng-required="true" ng-model="user.password2" class="form-control" id="password2" name="password2" placeholder="Please confirm your password">
                        <span style="display:none" class="error-message" ng-show="!confirmPassword.password2.$error.required || passwordDoNotMatch">Password do not match</span>
                        <span ng-show="!confirmPassword.password2.$dirty && password2" ng-cloak class="error-message">Confirm Password is required</span>
                        <span ng-show="confirmPassword.password2.$dirty && confirmPassword.password2.$error.required" class="error-message">Confirm Password is required</span>

                    </div>
                    <div class="form-group">
                        <label for="email">Username <span class="usernameMSG"></span></label>
                        <input id="user" type="text" ng-model="user.username"  ng-required="true" class="form-control username_text" name="username">
                        <span></span>
                        
                        <span ng-show="!confirmPassword.username.$dirty && username" ng-cloak class="error-message">Username is required</span>
                        <span ng-show="confirmPassword.username.$dirty && confirmPassword.username.$error.required" ng-cloak class="error-message">Username is required</span>
                    </div>

                    <button class="btn btn-primary" ng-click="confirm()">Submit</button>
                    <span ng-show="notConnected" style="color:red">You are not connected</span>
                </form>
            </div>
        </div>
    </div>
</div>
