<div class="container">
  <div class="row" style="margin-top:50px;margin-bottom:50px">
    <div class="col-md-offset-3 col-md-6">
      <div class="box">
        <h4 class="text-uppercase">Please provide your details</h4>                
        <hr/> 
        <form name="formHolder.pay" novalidate="">
        <label style="font-size: 14px" class="alert alert-danger" ng-show="errMsg" ng-cloak ng-bind="errMsg"></label>
        <label style="font-size: 14px" class="alert alert-success" ng-show="sucMsg" ng-cloak ng-bind="sucMsg"></label>
          <div class="form-group"><sup>*</sup>
            <label>Phone number</label>
            <input class="form-control" type="text" placeholder="your phone number" name="phone"  ng-pattern="/^(08|07|09)\d{9}$/" ng-model="request.phone_number" required="true" autofocus="true"/>
              <span ng-show="formHolder.pay.$dirty && formHolder.pay.phone.$invalid && !formHolder.pay.phone.$error.required" class="error-message">Invalid Phone format</span>
              <span ng-show="formHolder.pay.phone.$dirty && formHolder.pay.phone.$error.required" class="error-message">Phone is required</span>
          </div>
          <div class="form-group"><sup>*</sup>
            <label>Smart card/Decoder number(IUC)</label>
            <input class="form-control" type="text" ng-model="request.card_number" placeholder="your smart card/decoder number" name="card_number" required="true"/>
              <span ng-show="formHolder.pay.card_number.$dirty && formHolder.pay.card_number.$error.required" class="error-message">Smart card or Decoder number is required</span>
          </div>
          <div class="form-group"><sup>*</sup>
            <label>Tv</label>
            <select class="form-control" name="tv" ng-model="request.tv" ng-change="tvChange()">
              <option value="">select a tv</option>
              <option value="DSTV">DSTV</option>
              <option value="GoTv">GoTv</option>
              <option value="Startimes">Startimes</option>
                <option value="Mytv">Mytv</option>
                <option value="IrokoTv">IrokoTv</option>
                <option value="DaarsatTv">DaarsatTv</option>
            </select>
          </div>
          <div class="form-group" ng-show="showDstv" ng-cloak="ng-cloak">
            <label>Banquet</label>
            <select class="form-control" name="banquet" ng-options="m.name as m.name for m in dstv" ng-model="request.banquet" ng-change="dstvBanquetChange()">
              <option value="">select a banquet</option>
            </select>
          </div>
            <div class="form-group" ng-show="showMytv" ng-cloak="ng-cloak">
                <label>Banquet</label>
                <select class="form-control" name="banquet" ng-options="m.name as m.name for m in mytv" ng-model="request.banquet" ng-change="mytvBanquetChange()">
                    <option value="">select a banquet</option>
                </select>
            </div>
            <div class="form-group" ng-show="showIrokotv" ng-cloak="ng-cloak">
                <label>Banquet</label>
                <select class="form-control" name="banquet" ng-options="m.name as m.name for m in irokotv" ng-model="request.banquet" ng-change="irokotvBanquetChange()">
                    <option value="">select a banquet</option>
                </select>
            </div>
            <div class="form-group" ng-show="showDaarsattv" ng-cloak="ng-cloak">
                <label>Banquet</label>
                <select class="form-control" name="banquet" ng-options="m.name as m.name for m in daarsat" ng-model="request.banquet" ng-change="daarsatBanquetChange()">
                    <option value="">select a banquet</option>
                </select>
            </div>
          <div class="form-group" ng-show="showGotv" ng-cloak="ng-cloak">
            <label>Banquet</label>
            <select class="form-control" name="banquet" ng-options="m.name as m.name for m in gotv" ng-model="request.banquet" ng-change="gotvBanquetChange()">
              <option value="">select a banquet</option>
            </select>
            
          </div>
          <div class="form-group" ng-show="showStartimes" ng-cloak="ng-cloak">
            <label>Banquet</label>
            <select class="form-control" name="banquet" ng-options="m.name as m.name for m in startimes" ng-model="request.banquet" ng-change="startimesBanquetChange()">
              <option value="">select a banquet		</option>
            </select>
          </div>
          <div class="form-group" ng-show="showBanquet" ng-cloak="ng-cloak">
            <label>Price(₦)</label>
            <input class="form-control" name="amount" readonly="readonly" type="number" ng-model="request.price"/><br/>
            <button class="btn btn-primary" ng-click="pay()">Pay</button><span ng-show="notConnected" style="color:red">You are not connected</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>