<div class="container">
  <div class="row" style="margin-top:50px;margin-bottom:50px">
    <div class="col-md-offset-3 col-md-6">
      <div class="box">
        <h4 class="text-uppercase">Please provide your details</h4>                
        <hr/> 
        <form name="formHolder.pay" novalidate="">
        <label style="font-size: 14px" class="alert alert-danger" ng-show="errMsg" ng-cloak ng-bind="errMsg"></label>
        <label style="font-size: 14px" class="alert alert-success" ng-show="sucMsg" ng-cloak ng-bind="sucMsg"></label>
          <div class="form-group"><sup>*</sup>
            <label>Phone number</label>
            <input class="form-control" type="text" placeholder="your phone number" name="phone" ng-model="request.phone_number" required="true" autofocus="true"/>
          </div>
          <div class="form-group"><sup>*</sup>
            <label>Smart card/Decoder number(IUC)</label>
            <input class="form-control" type="text" ng-model="request.card_number" placeholder="your smart card/decoder number" name="card_number" required="true"/>
          </div>
          <div class="form-group"><sup>*</sup>
            <label>Tv</label>
            <select class="form-control" name="tv" ng-model="request.tv" ng-change="tvChange()">
              <option value="">select a tv</option>
              <option>DSTV</option>
              <option>GoTv</option>
              <option>Startimes</option>
            </select>
          </div>
          <div class="form-group" ng-show="showDstv" ng-cloak="ng-cloak">
            <label>Banquet</label>
            <select class="form-control" name="banquet" ng-options="m.name as m.name for m in dstv" ng-model="request.banquet" ng-change="dstvBanquetChange()">
              <option value="">select a banquet</option>
            </select>
          </div>
          <div class="form-group" ng-show="showGotv" ng-cloak="ng-cloak">
            <label>Banquet</label>
            <select class="form-control" name="banquet" ng-options="m.name as m.name for m in gotv" ng-model="request.banquet" ng-change="gotvBanquetChange()">
              <option value="">select a banquet</option>
            </select>
            
          </div>
          <div class="form-group" ng-show="showStartimes" ng-cloak="ng-cloak">
            <label>Banquet</label>
            <select class="form-control" name="banquet" ng-options="m.name as m.name for m in startimes" ng-model="request.banquet" ng-change="startimesBanquetChange()">
              <option value="">select a banquet		</option>
            </select>
          </div>
          <div class="form-group" ng-show="showBanquet" ng-cloak="ng-cloak">
            <label>Price(₦)</label>
            <input class="form-control" name="amount" readonly="readonly" type="number" ng-model="request.price"/><br/>
            <button class="btn btn-primary" ng-click="pay()">Pay</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>